@import 'prefixer.less';
@import 'material.less';
@import 'animations.less';

@appStatusBarColor: #E0E0E0; 	// Color 300
@appBarColor: #F5F5F5; 			// Color 100
@appBackColor: #FAFAFA;			// Color 50
@appCardsColor: #FFFFFF; 		// White

html, body {
	background-color: @appBackColor;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
